@import "variables";


.container-action {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  background: linear-gradient(to bottom, $gradient-top, $gradient-bottom);
  z-index: 20;
  transition: transform 0.25s ease;
  transform: translateX(110%);

  &.active {
    transform: unset;
  }
}
