@import "variables";

$actions-height: 80px;
$top-height: 50px;
$bottom-height: 30px;

.main-header {
  height: $actions-height;
  position: relative;

  %division {
      position: relative;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
    }

    .top {
      @extend %division;
      height: $top-height;
    }

    .bottom {
      @extend %division;
      height: $bottom-height;
      button {
        $height: 15px;
        font-size: $height;
        line-height: $height;
      }
    }

}

.container-selector {
  flex-grow: 1;
}

.container-selector-item {
  padding: 0.3rem 0.6rem;
  cursor: pointer;

  > span {
    display: inline-block;
    vertical-align: middle;
  }

  .icon {
    width: 22px;
    height: 22px;
    mask-size: contain;
    margin-right: 12px;
    border-radius: 50%;
  }

  .no-container-icon {
    font-size: 1.8rem;
    line-height: 1;
  }

  &:hover {
    background-color: $button-color;
  }
}

.container-selector-selected {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28105,105,105%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right 0.6rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  cursor: pointer;
  border-bottom: 1px solid $border-color;

  .container-selector-item {
    &:hover {
      background: transparent;
    }
  }
}

.container-selector-list {
  overflow: scroll;
  max-height: 300px;
  transition: max-height 0.25s ease;
  border: 1px solid $border-color;
  background-color: $white;
  top: 2.8rem;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1;
  box-shadow: 2px 2px 12px $border-color;

  &.collapsed {
    max-height: 0;
    border: 0;
    box-shadow: none;
    overflow: hidden;
  }
}
