@import "variables";

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-width: 300px;
  font-family: $font-family;
  color: $black;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  min-height: 370px;
  background: linear-gradient(to bottom, $gradient-top, $gradient-bottom);
}

html {
  font-size: 87.5%;
}

body {
  font-size: 1rem;
  overflow-x: hidden;
  padding: $common-margin;
  display: flex;
  flex-direction: column;
}

body>hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.noscroll {
  overflow-y: hidden;
}

button {
  cursor: pointer;
  text-align: center;
  padding: 0.2rem 0.8rem;
  font-family: $font-family;
  font-size: 1rem;
  border: none;
  transition: background-color 0.25s ease, color 0.25s ease;
  background-color: $button-color;
  line-height: 0;

  &:not([disabled]):hover {
    background-color: $button-hover-color;
  }
  &[disabled]{
    cursor: not-allowed;
  }

  // Removes dotted border around focused buttons
  &::-moz-focus-inner {
    border: 0;
  }

  svg {
    height: 18px;
    width: 18px;
    fill: $button-icon-color;
  }
}
