@import "variables";

.loader {
  height: 4px;
  width: 100%;
  top: 0;
  position: absolute;
  overflow: hidden;
  transform: translate3d(0,0,0);

  &.hide {
    display: none;
  }

  &:before{
    display: block;
    position: absolute;
    content: "";
    left: -50%;
    width: 50%;
    height: 4px;
    background-color: $loader-color;
    transform: translate3d(0,0,0);
    animation: loading 2.5s linear infinite;

    @keyframes loading {
      from {left: -50%;}
      to {left: 150%;}
    }
  }
}
