@import "../variables";

.container-action.action-create-edit {

  %selector {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;

    border: 1px solid $button-color;
    margin-top: 1em;
    padding: 3px;

    &::before {
      position: absolute;
      content: 'Header';
      font-size: $font-size + 3px;
      top: -9px;
      left: 9px;
      text-emphasis: #0a0a0a;
      background: linear-gradient($gradient-top, $gradient-bottom);
    }
    & > *{
      margin-left: 0.5em;
      margin-right: 0.5em;
      margin-top: 0.5em;
    }
  }


  .color-selector {
    @extend %selector;

    &::before {
      content: 'Color';
    }

    button {
      position: relative;
      min-width: 25%;
      min-height: 20px;
      border-radius: 1rem;
      border-color: transparent;

      &.selected {
        box-shadow: #0a0a0a;
      }
    }
  }

  .icon-selector {
    @extend %selector;

    &::before {
      content: 'Icon';
    }

    img {
      margin-left: 0.5em;
      margin-right: 0.5em;
      margin-top: 0.5em;
    }
  }
}
