// BEM is used for classes
// https://en.bem.info/methodology/quick-start/
@import "toggle";
@import "ContainerPreference";
@import "ContainerPreferenceGroup";

body {
  display: flex;
  flex-direction: column;
}

.preference {
  position: relative;
  border-width: 1px;
  border-radius: 3px;
  border-style: dashed;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 2px;
}

.preference .preference__label {
  font-weight: bold;
}

.preference .pref-el-container {
  display: flex;
  flex-direction: column;
}

.pref-doc {
  position: absolute;
  right: 5px;
  top: 5px;
  border-style: groove;
  border-width: 2px;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  line-height: 20px;
  text-align: center;
  border-color: black;
  color: black;
  stroke: azure;
  text-decoration: none;
  font-size: 20px;
  display: none;
}

.pref-doc.pref-doc--visible {
  display: unset;
}

.pref-group {
  position: relative;
  border-width: 1px;
  border-radius: 3px;
  border-style: ridge;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

.pref-group .preferences {
  margin-left: 10px;
}


.pref-group__label {
  font-weight: bolder;
  font-size: large;
}

.pref-group__toggle {
  display: none;
}

.pref-group--toggable .pref-group__toggle {
  display: unset;
}

// Groups that aren't activated yet
.pref-group--toggable .preferences {
  opacity: 0.5;
}

.pref-group--toggable .preferences * {
  pointer-events: none;
}

// Activated groups
.pref-group--toggable.pref-group--active .preferences * {
  pointer-events: unset;
}

.pref-group--toggable.pref-group--active .preferences {
  opacity: unset;
}


