.pref-container {
  border-width: 1px;
  border-radius: 3px;
  border-style: ridge;
  margin-bottom: 5px;
  margin-top: 5px;
}

.pref-container .pref-container__label {
  font-weight: bold;
}


// Groups that aren't activated yet
.pref-group__toggle ~ .preferences {
  opacity: 0.5;
  pointer-events: none;
}
// Activated groups
.pref-group__toggle:checked ~ .preferences {
  opacity: unset;
  pointer-events: unset;
}
